/*mini desktop*/
@media (min-width: 981px) and (max-width: 1279px)
{
   #portfoliolist .portfolio 
    {
    width:31%;
     }  
}

/*table*/

@media (min-width: 768px) and (max-width: 980px)
{
   #portfoliolist .portfolio 
    {
    width:45%;
     }  
    
    .spacin-dispositive
    {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .seccion .title h1 {
    font-size: 3.8rem;
   }
    
    .seccion .title p 
    {
    font-size: 1.3rem;
   }
    
    #contact .title p 
    {
        max-width: 50%;
    }
    
    #contact-form 
    {
    width: 44%;
    }
}

/*Big mobile*/

@media (min-width: 361px) and (max-width: 767px)
{
    .seccion .title 
    {
      margin: 25px 10px 0px
    }  
    
    .seccion .title h1 
    {
    font-size: 3.6rem;
    text-align: center;
    }
    
    .seccion .title p 
    {
    font-size: 1.6rem;
    text-align: center;
    }
    
    .seccion .seccion-content 
    {
    padding: 25px 35px;
    }
    
    #portfoliolist .portfolio 
    {
    width:95%;
     }
    
    #contact .title 
    {
    min-height: 168px;
    margin-top: 43px;
    }
    
    #contact-form {
    padding: 18px;
    width: 100%;
    float: none;
    margin-top: 15px;
}
    
    .seccion .title .message-contact-status {
    font-family: Raleway-Medium !important;
    font-weight: inherit !important;
    letter-spacing: -2px;
    color: #424242;
    font-size: 4.2rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
    max-width: 100%;
    line-height: 40px;
    text-align: center;
}
    
    #logoBox {
    background-color: #039BE5;
    width: 100%;
    height: 350px;
    transform: rotate(360deg);
    position: fixed;
    top: -307px;
    left: 0px;
    z-index: 100000;
    box-shadow: 2px 5px 6px rgba(158, 158, 158, 0.6);
    display: none;
}
    
    #contact-box {
    position: fixed;
    top: 0px;
    right: 3px;
    width: auto;
    padding: 6px;
    height: 60px;
    z-index: 100000;
}
    
    #logoBox h2 {
    font-family: Raleway-Medium;
    color: #F5F5F5;
    position: absolute;
    left: 10px;
    bottom: 6px;
    transform: rotate(0deg);
    font-size: 14px;
}

}

/*mobile*/

@media (max-width: 360px)
{
        .seccion .title 
    {
      margin: 25px 10px 0px
    }  
    
    .seccion .title h1 
    {
    font-size: 3.6rem;
    text-align: center;
    }
    
    .seccion .title p 
    {
    font-size: 1.6rem;
    text-align: center;
    }
    
    .seccion .seccion-content 
    {
    padding: 25px 35px;
    }
    
    #portfoliolist .portfolio 
    {
    width:95%;
     }
    
    #contact .title 
    {
    min-height: 168px;
    margin-top: 43px;
    }
    
    #contact-form {
    padding: 18px;
    width: 100%;
    float: none;
    margin-top: 15px;
}
    
    .seccion .title .message-contact-status {
    font-family: Raleway-Medium !important;
    font-weight: inherit !important;
    letter-spacing: -2px;
    color: #424242;
    font-size: 4.2rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
    max-width: 100%;
    line-height: 40px;
    text-align: center;
}
    
    #logoBox {
    background-color: #039BE5;
    width: 100%;
    height: 350px;
    transform: rotate(360deg);
    position: fixed;
    top: -307px;
    left: 0px;
    z-index: 100000;
    box-shadow: 2px 5px 6px rgba(158, 158, 158, 0.6);
    display: none;
}
    
    #contact-box {
    position: fixed;
    top: 0px;
    right: 3px;
    width: auto;
    padding: 6px;
    height: 60px;
    z-index: 100000;
}
    
    #logoBox h2 {
    font-family: Raleway-Medium;
    color: #F5F5F5;
    position: absolute;
    left: 10px;
    bottom: 6px;
    transform: rotate(0deg);
    font-size: 12px;
}
    
    .social-btns .btn {
    display: inline-block;
    background-color: #FFF;
    width: 38px;
    height: 38px;
    line-height: 45px;
    margin: 0px 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 90%;
    box-shadow: 0px 5px 8px -5px rgba(0, 0, 0, 0.1);
    opacity: 0.99;
}
    
    .scroll-animation-box {
    width: 50px;
    height: 80px;
    margin: 100px auto;
}
    
    .avatar-cirle {
    border-radius: 85%;
    border: 6px solid #F5F5F5;
    box-shadow: 0px 0px 10px #E0E0E0, 0px 0px 15px #EEE;
    width: 100px;
}
    
}